@font-face {
      font-family: Aeroport-Medium;
      src: url(./Aeroport-Medium.ttf);
}

html, body {
      margin: 0%;
      padding: 0%;
      width: 100%;
      height: 600px;
      overflow: hidden;
}

body {
      width: 300px;
      /* max-width: 850px; */
      position: relative;
}

.image-slider {
      z-index: 0;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      height: 100vh;
      background: #242233;
}

.image-slide {
      height: 200px;
      margin: 0 auto;
}

.slick-slide.slick-center {
      transform: scale(1.2);
      transition: transform .8s 1.4s cubic-bezier(.84, 0, .08, .99);
}

.slick-slide {
      transition: transform .7s cubic-bezier(.84, 0, .08, .99);
}

.logo {
      position: absolute;
      z-index: 3;
      width: 150px;
      top: 1%;
      left: 24%;
}
.cta {
      position: absolute;
      z-index: 6;
      top: 75%;
      left: 50%;
      margin-left: -65px;
      color: #fff;
      font-family: Aeroport-Medium;
      border: 1px solid;
      padding: 10px 20px;
      width: 88px;
      cursor: pointer;
}

.cta:hover {
      /* color: rgb(50, 50, 50); */
      background-color: rgb(255, 255, 255, .5);
      transition: all 0.5s;
}

.slider-control {
      margin: 0%;
      position: absolute;
      z-index: 4;
      bottom: 1%;
      left: 29%;
      display: flex;
}

button {
      color: #fff;
      background: none;
      padding: 15px;
      border: 1px solid;
      font-size: 16px;
      border-radius: 50%;
      margin: .4em;
      display: inline-block;
      cursor: pointer;
}

button:hover {
      /* color: rgb(50, 50, 50); */
      background-color: rgb(255, 255, 255, .5);
      transition: all 0.5s;
}

.block-1 {
      z-index: 2;
      position: absolute;
      height: 40px;
      width: 600px;
      top: 48%;
      background: #242233;
      /* display: none; */
}

.block-2 {
      z-index: 2;
      position: absolute;
      height: 70px;
      width: 600px;
      right: 0%;
      background: #242233;
      /* display: none; */
}

.block-3 {
      z-index: 2;
      position: absolute;
      height: 80px;
      width: 600px;
      bottom: 0%;
      background: #242233;
      /* display: none; */
}

.overlay {
      z-index: 1;
      position: absolute;
      height: 200px;
      width: 300px;
      top: 54.65%;
      left: 0%;
      background: rgba(0, 0, 0, .8);
}

.text-slider-wrapper {
      z-index: 3;
      position: absolute;
      width: 100%;
      top: 58%;
}

.text-slider {
      margin: 0%;
      padding: 0%;
      height: 100vh;
}

.text-slide h1 {
      color: #fff;
      font-size: 15px;
      /* font-family: "Cinzel"; */
      font-family: Aeroport-Medium;
      font-weight: lighter;
      text-transform: uppercase;
      padding-left: 10%;
}
.slick-slide {
      height: 230px !important;
      margin: 0 !important;
}


/* @media(max-width: 600px) {
      .block-1 {
            width: 10%;
      }
}

@media(max-width: 500px) {
      .logo {
            width: 150px;
      }

      .block-2, .overlay {
            display: none;
      }

      .block-1 {
            width: 50%;
      }

      .block-3 {
            width: 15%;
      }

      .slide-slick {
            display: none !important;
      }

      .text-slide h1 {
            font-size: 16px !important;
      }

      .text-slider-wrapper {
            position: absolute;
            top: 67% !important;
      }

      .slider-control {
            bottom: 2%;
            left: 6.5%;
      }
      
      button {
            padding: 15px;
      }
      
} */

